<div class="container-fluid container-fluid-padding">

  <div class="row">

    <div class="col-md-3"></div>

    <div class="col-md-3">
      <div class="text-style">
        <p><b>Voorkant</b></p>
      </div>

      <div class="col-md-12 front-card">
        hoi
      </div>
    </div>

    <div class="col-md-3">
      <div class="text-style">
        <p><b>Achterkant</b></p>
      </div>

      <div class="col-md-12 back-card">

      </div>

      <div class="col-md-3"></div>

    </div>

  </div>
</div>

<div class="container-fluid">

  <div class="row">

    <div class="col-md-1"></div>

    <div class="col-md-2 button-padding">
      <input type="submit" id="back" value="Terug naar game editor" class="btn btn-primary">
    </div>

    <div class="col-md-6"></div>

    <div class="col-md-2 button-padding">
      <input type="submit" id="submitCard" value="Opslaan en nieuwe kaart" class="btn btn-primary">
    </div>

    <div class="col-md-1"></div>

  </div>

</div>


