#submitCard {
}

#back {
}

.text-style {
  text-align: center;
}

.container-fluid-padding{
  padding-top: 50px;
}

.button-padding {
  padding-top: 50px;
}

.front-card {
  position: relative;
  border-style: solid;
  border-width: 3px;
  height: 400px;
  width: 100%;
}

.back-card {
  position: relative;
  border-style: solid;
  border-width: 3px;
  height: 400px;
  width: 100%;
}

