<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="/login" class="navbar-brand">Terug naar inloggen</a>
    </div>
  </div>
</nav>
<div class="container main-margin-container">
<form id="create_account" action="#">
    <h3>Registratie formulier</h3>
    <div class="form-group">
      <label>Voornaam</label>
      <input type="text" placeholder="Vul hier uw voornaam in" id="voornaam" required="required" class="form-control">
    </div>
    <div class="form-group">
      <label>Achternaam</label>
      <input type="text" placeholder="Vul hier uw achternaam in" id="achternaam" required="required" class="form-control">
    </div>
    <div class="form-group">
      <label>E-mailadres</label>
      <input type="email" placeholder="Vul hier een geldig e-mailadres in" id="email" required="required" class="form-control">
    </div>
    <div class="form-group">
      <label>Wachtwoord</label>
      <input type="password" placeholder="Vul hier uw wachtwoord in" id="wachtwoord" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,}" title="Het wachtwoord moet minimaal 7 tekens, een hoofdletter, een kleine letter en een cijfer bevatten." required="required" class="form-control">
    </div>
    <input type="submit" id="submit" value="Account aanmaken" required="required" class="btn btn-primary">
  </form>
</div>
<app-footer></app-footer>
