<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/login">Terug naar inloggen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="container main-margin-container">
<form id="create_account" action="#">
    <h3>Registratie formulier</h3>
    <div class="form-group">
      <label>Voornaam</label>
      <input type="text" placeholder="Vul hier uw voornaam in" id="voornaam" required="required" class="form-control">
    </div>
    <div class="form-group">
      <label>Achternaam</label>
      <input type="text" placeholder="Vul hier uw achternaam in" id="achternaam" required="required" class="form-control">
    </div>
    <div class="form-group">
      <label>E-mailadres</label>
      <input type="email" placeholder="Vul hier een geldig e-mailadres in" id="email" required="required" class="form-control">
    </div>
    <div class="form-group">
      <label>Wachtwoord</label>
      <input type="password" placeholder="Bevat minimaal 7 tekens, waaronder hoofdletter, kleine letter en cijfer." id="wachtwoord" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,}" required="required" class="form-control">
    </div>
    <input type="submit" id="submit" value="Account aanmaken" required="required" class="btn btn-primary">
  </form>
</div>
<app-footer></app-footer>
