
<div *ngIf='readyButton' class="scoreCard" style="align-content: center;">
    <button mat-raised-button type="button" class="btn btn-primary btn-sm category-bar-height button-category"  style="min-width: 70px; margin: 0 auto auto;" (click)="test()">Start game</button>

</div>



<div *ngIf="ready">

<mat-card>
    <div class="container" style="padding: 0; margin: 10px auto 10px auto;">
        <li droppable *ngFor="let card of cardsInput, let i = index" (onDrop)="checkWinCondition($event, i)" [dragHintClass]="'drag-hint-scale'" [dragOverClass]="'bg-input'">
          <div class="innercardtext" *ngIf="card != undefined">
           <img *ngIf='card.openface_side.type == "IMAGE"' mat-card-image src="data:image/jpeg;base64,{{card.openface_side.image_data}}" class="image_resource">
            <p *ngIf='card.openface_side.type == "TEXT"' class="text_resource">{{card.openface_side.text_resource}}</p>
      </div>
    </li>
</div>
</mat-card>

<mat-card>
  <div class="container" style="padding: 0; margin: 10px auto 10px auto;">
    <li draggable *ngFor="let card of cards; let i = index" [dragData]="card">
      <div class="innercardtext">
        <img *ngIf='card.openface_side.type == "IMAGE"' src="data:image/jpeg;base64,{{card.openface_side.image_data}}" class="image_resource">
        <p *ngIf='card.openface_side.type == "TEXT"' class="text_resource">{{card.openface_side.text_resource}}</p>
      </div>
    </li>
  </div>



  <mat-card-actions>
    <button mat-raised-button (click)="reset()">Reset</button>
  </mat-card-actions>

</mat-card>

</div>


