.maintable {
    max-width:50%;
    margin:0 auto;
}

.main-margin-container {
    padding-top:51px;
}

div {
    font-family: 'Roboto Slab', serif;
}

p {
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-family: 'Roboto Slab', serif;
}

h3 {
    font-family: 'Roboto Slab', serif;
}
nav {
    font-family: 'Roboto Slab', serif;
}

body {
    background-color:#eee;
}

.main-margin-container {
    background-color:#fff;
    padding:51px 30px 30px;
    max-width:960px;
}

@media screen and (min-width: 480px) {
    form {
        max-width: 50%
    }
}
form {
    margin-bottom: 30px;
}

.tooltip-inner {
    background-color:white;
    color:black;
    border:1px solid black;
}

.tooltip.top .tooltip-arrow {
    border-top-color:black;
}

.grid-container {
    display: grid;
    grid-template: 400px / auto auto;
    grid-gap: 20px;
    background-color: #fff;
}

.grid-container>div {
    background-color: #fff;
    text-align: left;
    padding:20px 0;
    width: 440px;
    height: 400px;
}


