
<mat-card class="memory-body">
  <mat-card-header>

    <mat-card class="memory-card"
              *ngFor="let card of cards"
              (click)="checkSelectedSet(card)">
      <i>{{card.set_id}}</i>
      <div class="innercardtext">
        <img *ngIf='card.openface_side.type == "IMAGE" && !card.flipped' src="data:image/jpeg;base64,{{card.openface_side.image_data}}" class="image_resource">
        <p *ngIf='card.openface_side.type == "TEXT" && !card.flipped' class="text_resource">{{card.openface_side.text_resource}}</p>
      </div>
      <div class="innercardtext">
        <img *ngIf='card.closedface_side.type == "IMAGE" && card.flipped' src="data:image/jpeg;base64,{{card.closedface_side.image_data}}" class="image_resource">
        <p *ngIf='card.closedface_side.type == "TEXT" && card.flipped' class="text_resource">{{card.closedface_side.text_resource}}</p>
      </div>
    </mat-card>
  </mat-card-header>

</mat-card>
