ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel-wrapper {
  overflow: hidden;
  margin: auto;
  width: 92%;
  height:100%;
  background-color: red;
  padding: 0px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: black;
  display: flex;
}

.btn-container{
  background-color: red;
  height: 100%;
  width: 4%;
  padding: 0px;
  display: flex;
}

.btn{
  width: 4em;
  height: 4em;
  display: block;
  position: relative;
  margin: auto;
}

.btn-light{

}

.card-div{
  background-color: red;
  width:  125px;
  height: 100%;
}

.carousel-inner {
  padding: 0px 0px 0px 0px;
  height: 100%;
  width: 6000px;
  background-color: pink;
  margin: auto;
}

.carousel-item{
  display: inline-block;
  width: 110px;
  height: 100%;
  margin: auto;
  background-color: #5383d3;
}

.card-container{
  margin: auto;
  height: 100%;
  width: 100px;
  background-color: brown;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: cyan;
}

.test{
  width: 100px;
}

.carousel-container{
  display:block;
  height: 95%;
  width: 100%;
  background-color: yellow;
  margin: auto;
}

.carousel-outer{

  height: 8em;
  background-color: green;
}



.ding {
  width: 80%;
  height: 80%;
}
