<div class="row carousel-outer">
  <div *ngIf="showControls" class="col-md-1 btn-container">
    <button (click)="prev()" class="btn btn-light btn-outline-dark rounded-circle"><i class="fa fa-chevron-left"></i></button>
  </div>
<section class="col-md-10 carousel-wrapper"> <!--[ngStyle]="carouselWrapperStyle"-->

  <div class="carousel-container" #carouselcontainer>
  <ul class="carousel-list" #carousel>

    <li *ngFor="let card of cards$ | async" class="card-list-item" #cardlistitem>
      <div [dragScope]="'newcard'" draggable [dragData]="card" class="card">
      <ng-container [ngTemplateOutlet]="card.tpl">

        <p class="test">{{card.name}}</p>
        <p class="test">{{card.id}}</p>
      </ng-container>
      </div>

    </li>

  </ul>
  </div>

</section>
  <div *ngIf="showControls" class="col-md-1 btn-container">
    <button (click)="next()" class="btn btn-light btn-outline-dark rounded-circle"><i class="fa fa-chevron-right"></i></button>
  </div>
</div>


