ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p{
  text-align: center;
}
.carousel-wrapper {
  overflow: hidden;
  margin: auto;
  width: 96%;
  height:100%;
  background-color: #bfc7cb;
  padding: 0;
  border-radius: 0px;
  border: 3px solid #666666;
  display: flex;
}

.btn-container{
  background-color: #e5eaee;
  height: 100%;
  width: 2%;
  padding: 0;
  display: flex;
}

.btn{
  width: 3em;
  height: 3em;
  display: block;
  position: relative;
  margin: auto;
}

.carousel-list {
  padding: 0 0 0 0;
  height: 100%;
  width: 6000px;
  background-color: #aeb4b0;
  margin: auto;
}

.card-list-item{
  display: inline-block;
  width: 9em;
  height: 100%;
  margin: auto;
  background-color: #aeb4b0;
}

.card{
  margin: auto;
  height: 9em;
  width: 6em;
  background-color: #dddfdd;
  border-radius: 0;
  border: 2px solid #525e70;
}

.carousel-container{
  display:block;
  height: 95%;
  width: 100%;
  background-color: #f4f1ed;
  margin: auto;
}

.carousel-outer{
  height: 100%;
  background-color: #f4f1ed;
}
