<div class="row carousel-outer">

<section class="col-md-12 carousel-wrapper"> <!--[ngStyle]="carouselWrapperStyle"-->

  <div class="carousel-container" #carouselcontainer>
  <ul class="carousel-list flexbox" #carousel>

    <li *ngFor="let card of cards | async" class="card-list-item" #cardlistitem>
      <div [dragScope]="'newcard'" draggable [dragData]="card" class="card">
        <img *ngIf='card.openface_side.type == "IMAGE"' src="data:image/jpeg;base64,{{card.openface_side.image_data}}" class="image_resource">
        <p *ngIf='card.openface_side.type == "TEXT"'  class="text_resource">{{card.openface_side.text_resource}}</p>
      </div>
    </li>

  </ul>
  </div>

</section>

</div>


