<mat-card class="card-margin">
  <mat-card-title><p>Add a new Arrangement</p></mat-card-title>
  <mat-card-content>

    <form class="example-form" style="padding-left: 20px;">
      <mat-form-field class="example-full-width" style="padding-bottom: 20px;">
        <input matInput placeholder="Arrangement name" (keyup)="onKey($event)">
      </mat-form-field>
    </form>
    <br>
    <button class="btn btn-primary" style="margin-left: 5px" (click)="addArrangement()">Save</button>

  </mat-card-content>
</mat-card>


