<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="/dashboard" class="navbar-brand">Dashboard</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/arrangements" class="button">Arrangementen beheren</a></li>
        <li><a routerLink="/minigames" class="button">Minigames beheren</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container main-margin-container">
  <p style="margin-top: 15px;"><b>Welkom USERNAME</b></p>

<div class="grid-container">
  <div style="text-align: center">
    <video width="400" controls>
      <source src="/videos/movie.mp4">
    </video>
    <p><b>Volg de tutorial</b></p>
  </div>
  <div style="text-align: center">
    <img src="my-app/src/images/filler.jpg" width="400">
    <p><b>Ga verder met uw laatste arrangement</b></p>
  </div>
</div>
</div>
<app-footer></app-footer>
