.set-container{
  overflow-y: auto;
  margin: 0;
  padding: 10px 8px 0 8px;
  border-left: 2px;
  border-right: 0px;
  border-top: 2px;
  border-bottom: 2px;
  border-style: solid;
  border-color: #002642;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.addsetdiv{
  width: 100%;
  height: 7em;
}

.addsetbutton{
  display: block;
  margin: auto;
  border: none;
  border-radius: 5px;
  color: #aeb4b0;
  padding: 15px 15px 15px 15px;
}

.addsetbutton:hover{
  color: #f1f1f1;
}

.addseticon{
}

.removesetbutton{
  float: right;
}

.color1{
  background-color: #6EA4BF;
}

.rulediv{

}

.emptydiv{;
}

.savediv {

}
.cornerdiv{

}
.headerdiv{

}
