<div class="container-fluid" style="height: 100%; padding: 0">
    <div class="row" style="height: 100%;">
      <div class="col-md-10" style="background-color: green;">
      <div class="row" style="background-color: pink; height: 15%;">
        <h2>GAME EDITOR</h2>
      </div>

      <div class="row" style="background-color: blue; height: 85%;">
        <div class="col-md-12 set-container">
          <app-set-row></app-set-row>
          
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="row" style="background-color: red; height: 85%;">
        <p>Hallo</p>
      </div>

      <div class="row" style="background-color: purple; height: 15%;">
        <p>knop hiero</p>
      </div>
    </div>
    </div>
</div>



