<div mat-dialog-content>
  <p>Voeg een nieuwe afbeelding toe:</p>
</div>
<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile [colspan]="2" [rowspan]="2">
    <div class="pull-straight">
      <img-cropper [image]="imgData" [settings]="cropperSettings" (onCrop)="cropped($event)"></img-cropper>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <div class="pull-straight">
    <span class="result" *ngIf="imgData.image">
                <img [src]="imgData.image" [width]="cropperSettings.croppedWidth"
                     [height]="cropperSettings.croppedHeight">
            </span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">

    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">terug</button>
      <button mat-button [mat-dialog-close]="imgData.image" (click)="saveResource(imgData.image)" class="btn btn-primary btn-sm" >Opslaan</button>
    </div>
  </mat-grid-tile>
</mat-grid-list>

