<div class="container-fluid" style="height: 100%">
  <div class="row" style="background-color: aliceblue; padding: 0px;">
    <div class="col-md-1 style-for-divs">
      <button type="button" class="btn btn-primary btn-sm category-bar-height" style="padding-right:15px; padding-left:15px;">+</button>
    </div>
    <div class="col-md-5 style-for-divs">
      <div class="form-group" style="margin: 0px">
      <select class="form-control category-bar-height" id="category">
        <option value="" selected disabled>Category</option>
        <option>Category1</option>
        <option>Category2</option>
        <option>Category3</option>
        <option>Category4</option>
      </select>
    </div>
    </div>

    <div class="col-md-5 style-for-divs">
      <app-category-search></app-category-search>
    </div>
  </div>
  <div class="row" style="height:80%; background-color: #8f9296">
    <div class="col-xs-12"></div>
  </div>
  <div class="row">
    <div class="col-md-6">sadasd</div>
    <div class="col-md-6">asdasd</div>
  </div>
</div>
