@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.main-margin-container {
  padding-top:51px;
}

.main-margin-container{
  padding-top: 51px;
}

div {
  font-family: 'Roboto Slab', serif;
}

p {
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-family: 'Roboto Slab', serif;
}

h3 {
  font-family: 'Roboto Slab', serif;
}
nav {
  font-family: 'Roboto Slab', serif;
}

.main-margin-container {
  background-color:#fff;
  padding:51px 30px 30px;
  max-width:960px;
}

@media screen and (min-width: 480px) {
  form {
    max-width: 50%
  }
}

body {
  background-color:#eee !important;
}

form {
  margin-bottom: 30px;
}


.drag-border {
  border: #ff525b dashed 2px;
}

.drag-handle {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.drag-handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* Droppable */

.drag-hint-border {
  border: #3c763d dashed 2px;
}

.drag-over-border {
  border: #fbbc05 dashed 2px;
}

.drag-transit {
  border: #3500FF dashed 2px;
}


.snackbar-error{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 4px;
}

.snackbar-succes{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 4px;
}
