<div class="container" style="padding: 0; margin: 10px auto 10px auto;">
  <li draggable [dragScope]="'infield'" droppable [dropScope]="'newcard'" *ngFor="let card of cardcontent; let i = index" [dragHintClass]="'drag-hint'" [dragOverClass]="'drag-target-border'" (onDrop)="replace(i, $event)">
    <div class="innercardbutton">
      <button (click)="remove(i)" class="removalbutton"><i class="fa fa-minus-circle removalicon"></i></button>
    </div>
    <div class="innercardtext">
      <img *ngIf='card.closedface_side.type == "IMAGE"' src="data:image/jpeg;base64,{{card.closedface_side.image_data}}" class="image_resource">
      <p *ngIf='card.closedface_side.type == "TEXT"' class="text_resource">{{card.closedface_side.text_resource}}</p>
    </div>
  </li>
  <div class="dropzone" droppable [dropScope]="'newcard'" [dragHintClass]="'drag-hint'" [dragOverClass]="'drag-target-border'" (onDrop)="onDrop(i, $event)">
    <i class="fas fa-7x fa-plus-circle " style="margin: auto;"></i>
  </div>
</div>

