<mat-card>
  <mat-card-title><p>Add a new game</p></mat-card-title>
  <mat-card-content>
    <form class="example-form" style="padding-left: 20px;">
      <mat-form-field class="example-full-width" style="padding-bottom: 20px;">
        <input matInput placeholder="Game name" (keyup)="onKey($event)">
      </mat-form-field>
      <mat-form-field class="example-full-width" style="width: 50%;">
        <input matInput type="number" placeholder="Game duration (in seconds)" (change)="durationValue($event)" min="0" max="600">
      </mat-form-field>
    </form>

    <select #selectedGame class="form-control" (change)="log($event)">
      <option selected disabled>Choose a game</option>
      <option value="Memory">Memory</option>
      <option value="Puzzle">Puzzle</option>

    </select>

  </mat-card-content>
</mat-card>



  <mat-card class="result">
    <mat-card-content *ngIf="checkIfMemory()">
      <section class="example-section">
        <mat-slide-toggle [(ngModel)]="classicMemory"
          class="example-margin">
          Classic Memory
        </mat-slide-toggle>
      </section>

      <section class="example-section">
        <mat-slide-toggle [(ngModel)]="openCards"
          class="example-margin">
          Open cards
        </mat-slide-toggle>
      </section>
      <button mat-raised-button (click)="saveGame()">Save</button>
    </mat-card-content>



    <mat-card-content *ngIf="checkIfPuzzle()">
      <section class="example-section">
        <mat-slide-toggle [(ngModel)]="order"
          class="example-margin"
          >
          Cards by order
        </mat-slide-toggle>
      </section>

      <button mat-raised-button (click)="saveGame()">Save</button>
    </mat-card-content>

  </mat-card>


